* {
    margin: 0;
    padding: 0
}

body {
    margin-top: 150px;
    text-align: left;
   
}

.icon_edit{
    text-align: center;
    
    font-size: 30px;
}

.card {
    margin-top: 250px;
    width: 550px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    margin-left: 100px;
}
.update_button{
    
}
.image img {
    transition: all 0.5s;
    margin-left: -2.5px;
    
}

.card:hover .image img {
    transform: scale(1.1)
}

/* .btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
} */

.name {
    font-size: 22px;
    font-weight: bold;
   
}
.btn2{
    margin-top: 250px;
    background-color: #444444;
    color: #efefef;
    border-radius: 10px;
    transition: all 0.5s;
    font-size: large;
    padding: 9px;
}
.btn2:hover  {
    color: #efefef;
    transform: scale(1.1)

}

.idd1 {
    font-size: 22px;
    font-weight: bold;
    
    
    
}

.phone {
    font-size: 22px;
    font-weight: bold
}

.lastname {
    font-size: 22px;
    font-weight: 500;
    font-weight: bold;
    color: #444444
}
.email {
    font-size: 22px;
    font-weight: 500;
    font-weight: bold;
    color: #444444
}
.address {
    font-size: 22px;
    font-weight: 500;
    font-weight: bold;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}
.btn_text{
    margin-top: 250px;
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}