.read_more{
  margin-top: 250px;
}


.show_more h3 {
  margin-left: 20px;
  text-transform: uppercase;
}
.show_more{
  font-size: 25px;
}
.verticalLine {
  backdrop-filter: blur(5px);
  border-top:  solid #fc5d35;
  border-left:  solid #fc5d35;
  margin-bottom: 30px;
}