.update{
    color: #fff;
    background:  #2E323B;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    width: 100%;
    padding: 9px 11px;
    margin: 0 0 20px;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
.message{
    margin-top: 200px;
}
.content{
    background-color:rgb(232, 232, 227);
    border-radius: 50px;
    font-size: 20px;
}
